<!-- Header begin -->
        <header class="header header-padding bg-header z-index100" id="landing">
            <div class="header-left">
                <div class="header-branding row">
                    <a href="{{ site.baseurl }}/{{ page.lang }}/"><img class="header-logo" id="logo" src="{{ site.baseurl }}/favicon/vi-logo-big-wh.png" alt="VI brand image"/></a>
                    <div class="header-spacing"></div>
                    {% if page.gamelogo_header_classes %}<a class="header-branding {{ page.gamelogo_header_classes }}" href="{{ site.baseurl }}/{{ page.lang }}/games/{{ page.title }}">{{ page.game_name }}</a>{% endif %}
                    {% if page.gamelogo_header_img %}<img class="project-odyssey-logo" src="{{ page.gamelogo_header_img }}" alt="{{ page.gamelogo_header_alt }}" width="225px">{% endif %}
                </div>
              </div>
            </div>
                <div class="header-right">
                    <div class="header-buttons">
                        <a class="header-button dm-sans semibold" href="{{ site.baseurl }}/{{ page.lang }}/posts">{{ site.t[page.lang].posts }}</a>
                        <a class="header-button dm-sans semibold" href="{{ site.baseurl }}/{{ page.lang }}/games">{{ site.t[page.lang].games }}</a>
                        <a class="header-button dm-sans semibold" href="{{ site.baseurl }}/{{ page.lang }}/software">{{ site.t[page.lang].software }}</a>
                        <a class="header-button dm-sans semibold icon-search" href="{{ site.baseurl }}/{{ page.lang }}/search"></a>
                        <div class="language-dropdown">
                            <button class="header-button dm-sans semibold dropdown-toggle" type="button" onclick="langDropdownBtn()" id="languageDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                文A
                            </button>
                            <div class="dropdown-content z-index100 column" id="languageDropdownMenu" aria-labelledby="languageDropdown">
                                <a class="dropdown-item" href="#" data-lang="de">[DE]</a>
                                <a class="dropdown-item" href="#" data-lang="en">[EN]</a>
                                <a class="dropdown-item" href="#" data-lang="es">[ES]</a>
                                <a class="dropdown-item" href="#" data-lang="fi">[FI]</a>
                                <a class="dropdown-item" href="#" data-lang="fr">[FR]</a>
                                <a class="dropdown-item" href="#" data-lang="nl">[NL]</a>
                                <a class="dropdown-item" href="#" data-lang="ro">[RO]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Header end -->
