        <!-- Notice start -->
        <div id="bannerContainer">

        <div class="notice notice-announcement project-jailbird project-jailbird-bg">
            <p class="notice-text monospace semibold vantagray project-jailbird">{{ site.t[page.lang].newgameannounced }} <a class="notice-text vantagray underline text-active monospace semibold" href="{{ site.baseurl }}/{{ page.lang }}/games/Prisonia">{{ site.t[page.lang].learnmoreabout }} Prisonia</a></p>
        </div>

        </div>
        <!-- Notice end -->
