---
layout: index
---

<!DOCTYPE html>
<html lang="{{ page.lang }}" class="scroll-smooth bg-header">
    <head>
        {% include head.html %}
    </head>
<body class="bg-header">
        {% include header.html %}

        {% include notice-container.html %}

        <div class="landing-page flex row">
            <div class="landing-page-left z-index10 flex column justify-end">
                <div class="flex row">
                    <p class="blaec semibold rem15 white">VAN<br>TA</p>
                </div>
                <div class="flex row">
                    <p class="outfit semibold rem5 white hover-oblique">{{ site.t[page.lang].indiegamedevstudio }}</p>
                </div>
                <div class="flex row">
                    <p class="outfit regular rem5 lightgray">{{ site.t[page.lang].from }}&nbsp;</p><p class="outfit semibold rem5 white hover-oblique">{{ site.t[page.lang].Romania }}</p>
                </div>
                <div class="flex row padding-top-1rem">
                    <p class="monospace rem1-15 lightgray">Unreal Engine&nbsp;*&nbsp;Sapphire Engine&nbsp;|&nbsp;PC&nbsp;*&nbsp;Mobile&nbsp;|&nbsp;Est MMXVIII</p>
                </div>
            </div>
            <div class="landing-page-right flex column justify-end">
                <div class="flex row">
                    <a class="article-button-light rem2 kilotonco semibold" href="{{ site.baseurl }}/{{ page.lang }}/games/Prisonia">Prisonia</a>
                    <a class="article-button-light rem2 monospace medium" href="{{ site.baseurl }}/{{ page.lang }}/posts">{{ site.t[page.lang].posts }}</a>
                    <a class="article-button-light rem2 monospace medium" href="https://github.com/VantaInteractive">GitHub ↗</a>
                </div>
                <!-- <a class="article-button-light rem2 monospace medium" href="{{ site.baseurl }}/{{ page.lang }}/projects">{{ site.t[page.lang].projects }}</a> -->
                <a class="article-button-light rem2 monospace medium" href="{{ site.baseurl }}/{{ page.lang }}/about">{{ site.t[page.lang].about }}</a>
            </div>
        </div>

        {% include footer.html %}
</body>
</html>
